.App {
  position: relative;
  width: 800px;
  height: 600px;
  top: 0px;
  left: 14%;
  border: 1px solid #000;
  overflow: hidden;
  background-image: url('../assets/back.png');
}

.game-over {
  background-color: #ff6347;
}

.win {
  background-color: blue;
}

.game-over-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  font-weight: bold;
  color: white;
}

.bird {
  position: absolute;
  width: 100px;
  height: 100px;
  user-select: none;
}

.pipe {
  position: absolute;
  width: 100px;
  height: 600px;
}

.score-display {
  position: absolute;
  top: 4%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  font-weight: bold;
  color: white;
}

.win-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  font-weight: bold;
  color: white;
}