.App {
  position: relative;
  width: 800px;
  height: 600px;
  top: 0px;
  left: 14%;
  border: 1px solid #000;
  overflow: hidden;
  background-image: url('../assets/back.png');
}

.game-over {
  background-color: #ff6347;
}

.win {
  background-color: blue;
}

.game-over-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  font-weight: bold;
  color: white;
}

.content-text-start {
  background-color: black;
  opacity: 0.8;
  position: absolute;
  width: 1150px;
  height: 100%;
  left: 0%;
  top: 0%;
  z-index: 1;
  font-family: 'Courier New', Courier, monospace;
  border-radius: 30px;
  border: 2px solid aqua;
}

.text-1 {
  font-size: 40px;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
}

.text-2 {
  position: absolute;
  text-align: center;
  top: 70%; left: 25%;
  font-size: 40px;
  color: lightgoldenrodyellow;
  font-style: italic;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.bird {
  position: absolute;
  width: 100px;
  height: 100px;
  user-select: none;
}

.pipe {
  position: absolute;
  width: 100px;
  height: 600px;
}

.score-display {
  position: absolute;
  top: 4%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  font-weight: bold;
  color: white;
}

.counter {
  position: absolute;
  top: 6%;
  left: 49%;
  font-size: 24px;
  color: white;
}

.win-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  font-weight: bold;
  color: white;
}